<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pureback_rb_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,46}</string>
			<key>spriteSourceSize</key>
			<string>{37,46}</string>
			<key>textureRect</key>
			<string>{{73,3},{37,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pureback_rb_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,46}</string>
			<key>spriteSourceSize</key>
			<string>{45,46}</string>
			<key>textureRect</key>
			<string>{{124,3},{45,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pureback_rb_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,46}</string>
			<key>spriteSourceSize</key>
			<string>{48,46}</string>
			<key>textureRect</key>
			<string>{{295,3},{48,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pureback_rb_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,45}</string>
			<key>spriteSourceSize</key>
			<string>{36,45}</string>
			<key>textureRect</key>
			<string>{{238,4},{36,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pureback_rb_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,42}</string>
			<key>spriteSourceSize</key>
			<string>{55,42}</string>
			<key>textureRect</key>
			<string>{{6,5},{55,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pureback_rb_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,42}</string>
			<key>spriteSourceSize</key>
			<string>{44,42}</string>
			<key>textureRect</key>
			<string>{{179,5},{44,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>pureback_rb_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,44}</string>
			<key>spriteSourceSize</key>
			<string>{160,44}</string>
			<key>textureRect</key>
			<string>{{94,56},{160,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>pureback_rb.png</string>
		<key>size</key>
		<string>{348,100}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:eb66d9ed904b7899732b5003666d9263:1/1$</string>
		<key>textureFileName</key>
		<string>pureback_rb.png</string>
	</dict>
</dict>
</plist>
